@font-face {
    font-family: 'Arial';
    src: url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPSMT.woff2') format('woff2'),
        url('TimesNewRomanPSMT.woff') format('woff'),
        url('TimesNewRomanPSMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

